:root{
    --black: #181818;
    --white: #f8f8ff;
    --orange: #fcab64;
    --purple: #9448BC;
    --purpleHover: #743795;
    --red: #C44536;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: montserrat-regular;
    scroll-behavior: smooth;
}

/* fonts */
 @font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-medium-italic;
    src: url(../fonts/Montserrat-MediumItalic.ttf);
}
/* width classes */
.w-50{
    width: 50%;
}
/* margin and padding classes */
.mb-5{
    margin-bottom: 5%;
}
.mb-2{
    margin-bottom: 2%;
}
/* color classes */
.nav-dark, #burger .burger-line{
    background-color: var(--black);
    color: var(--white);
}
.nav-dark #burger .burger-line{
    background-color: var(--white);
}
.nav-dark a{
    color: var(--white);
}
.nav-dark a:hover{
    color: var(--purple);
    transition: color .3s ease;
}
.nav-light, .burger-line{
    background-color: transparent;
    color: var(--black);
}
.nav-light a{
    color: var(--black);
}
/* flex classes */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}
/* containers */
.nav-container{
    padding: 10px 10%;
    margin: auto;
    height: 45px;
}
.container{
    padding: 5% 10%;
    margin: auto;
    overflow: auto;
}
/* nav */
nav{
    position: fixed;
    width: 100vw;
    z-index: 10;
}
nav p a{
    font-family: montserrat-medium-italic;
}
/* navUl */
#navUl{
    position: absolute;
    top: 0px;
    padding-top: 45px;
    left: 0;
    width: 30vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 300ms ease;
    background-color: var(--black);
}
#navUl.active{
    transform: translateX(0%);
    transition: all 300ms ease;
    z-index: 2;
}
#navUl li{
    margin: 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
}
#navUl li a{
    color: var(--white);
}
#navUl li:hover{
    background-color: var(--purpleHover) !important;
    transition: background-color .5s;
    color: #181818;
}
#navUl li.activePage{
    background-color: var(--purple);
}
/* #navUl li.activePage a{
    color: var(--black);
} */
/* buger */
#burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    width: 25px;
    height: 25px;
}
.burger-line{
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    transition: transform .5s ease-in-out, background-color .3s ease-in-out, width 0.3s ease;
}
.burger-line:nth-child(1){
    transform: translateY(-8px);
}
#burger:hover .burger-line:nth-child(2){
    width: 20px;
}
.burger-line:nth-child(3){
    transform: translateY(8px);
}
#burger.active .burger-line:nth-child(2){
    background-color: transparent;
}
#burger.active .burger-line:nth-child(1){
    transform: rotate(45deg);
    background-color: var(--white);
}
#burger.active .burger-line:nth-child(3){
    transform: rotate(-45deg);
    background-color: var(--white);
}

/* login sign up modal */
#loginSignUpModal{
    height: 0;
    overflow: hidden;
    position: relative;
}
#loginSignUpModal.active{
    overflow: visible;
    transition: height 0.2s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 380px;
    padding: 5px;
}
#loginSignUpButtonsDiv{
    width: 60%;
    margin: 35px auto;
    background-color: var(--white);
    box-shadow: 0 0 20px 0px #181818;
    border-radius: 15px;
    position: relative;
}
#loginSignUpButtonsDiv input{
    width: 50%;
   padding: 10px 0px;
   background: transparent;
   border: 0;
   outline: none;
   position: relative;
   border-radius: 15px;
   cursor: pointer;
   transition: .3s;
}
#loginSignUpButtonsDiv input.active{
    background-color: var(--purple);
    color: var(--white);
    cursor: auto;
 }
 #loginSignUpForm{
    width: 80%;
    margin: auto;
 }
 #loginSignUpForm .input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
    color: var(--white);
 }
 .modalButton{
    width: 40%;
    padding: 10px 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin:  20px auto;
    background-color: var(--purple);
    color: var(--white);
    border: none;
 }
 #closeLoginSignUpModalButton::before{
    content: "x";
 }
 #closeLoginSignUpModalButton{
    cursor: pointer;
    transition: height 0.2s ease-in-out;
    position: absolute;
    top: 2%;
    right: 4%;
 }

 /*book slider*/

 #sliderContainer{
    max-width: 100vh;
    position: relative;
    margin: auto;
 }
 .slide{
    display: none;
 }
 .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* swiper js */
/* .swiper {
    width: 600px;
    height: 300px;
} */
/* .swiper-slide{
    object-fit: cover;
    
} */
/* .swiper-slide img{
    object-fit: cover;
  object-position: 5%;
  width: 900px;
  height: 100vh;
} */

/* img classes */
.img-fluid{
    max-width: 100%;
    height: auto;
}
/* products*/
#productsH1{
    background-color: var(--purple);
    color: var(--white);
    padding: 8% 10% 2% 10%;
}
#searchProductsDiv.container{
    padding: 2% 10%;
}
/* #searchProductsButton{
    width: 100px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: ;
} */
#searchProducts, #sortProducts{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border-color: var(--purple);
}
#sortProducts{
    background-color: var(--purple);
    padding: 5px;
    border: none;
    color: var(--white);
}
#sortProducts:hover{
    background-color: var(--purpleHover);
}

.productCard{
    cursor: pointer;
    width: 20%;
    margin-bottom: 15% !important;
}
.productCard img{
    max-width: 100%;
    height: auto;
}

/* contact form */
#contactForm textarea{
    resize: none;
    height: 10vh;
}
#contactForm input, #contactForm textarea{
    outline: none;
    padding: 8px;
    margin-bottom: 3%;
    font-family: inherit;
    width: 80%;
}
#contactForm #contactFormButton{
    width: 120px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0px;
}
#contactForm #contactFormButton:hover{
    background-color:#743795;
    transition: all .3s ease;
}
/* footer */
footer.nav-container{
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
footer p {
    margin-bottom: 5% !important;
}
footer div a i{
    margin-right: 2% !important;
}
footer #newsletter{
    margin-top: 15px;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
    outline: none;
}
footer #newsletterButton, #searchProductsButton{
    width: 100px;
    padding: 5px 0px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer #newsletterButton:hover, #searchProductsButton:hover{
    background-color: var(--purpleHover);
    transition: all .3s ease;
}
/* scroll to top button */
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5; 
    border: none; 
    outline: none;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
  }
#scrollToTopButton:hover{
background-color: var(--purpleHover);
transition: all .3s ease;
}
/* responsive */
@media screen and (max-width: 920px){
    #navUl{
        width: 60vw;
    }
    #bookOfTheMonthDiv{
        justify-content: initial;
    }
    #bookOfTheMonthDiv div{
        width: auto;
        margin-bottom: 5%;
    }
    #contactForm, #contactForm input, #contactForm textarea{
        width: 100%;
    }
    .productCard{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    #burger:hover .burger-line:nth-child(2){
        width:  25px;
    }
    .productCard{
        width: 45%;
    }
}
@media screen and (max-width: 576px){
    .swiper-slide img{
        object-fit: cover;
      object-position: 6%;
      width: 100%;
      height: 320px;
    }
    #navUl{
        width: 100vw;
    }
    #loginSignUpModal.active{
        width: 80%;
    }
    footer{
        flex-direction: column;
        align-items: flex-start !important;
    }
    footer div{
        padding: 5% 0px;
    }
    .productCard{
        width: 100%;
        margin: auto;
    }
    #productsH1{
        padding-top: 15%;
    }
    #searchProductsDiv{
        flex-direction: column-reverse;
    }
    #searchProductsDiv select{
        width: fit-content;
        margin: 2% 0px;
    }
}
@media screen and (max-width: 376px){
    .swiper-slide img{
        object-fit: cover;
      object-position: 6%;
      width: 100%;
      height: 320px;
    }
}